<article class="align-left">
  <h2 class="center">About Me<hr></h2>
  <p>Full-stack Javascript Engineer interested in building web apps with up and coming technologies. Very interested in working with a MEAN stack (MongoDB, Express.js, Angular.js, Node.js) and learning new technologies.</p>

  <h3 class="center">Experience</h3>
  <p>I collaborated in a four-person team to build and deploy the first major version of this open-source, full-stack, mobile app. My general role was in front-end development and implementation of sockets for real-time communication.</p>

  <p>Built a full-stack bartering web interface that allows users to geospatially search for items available in their community. The interface was built on top of Google Maps using a MEAN stack.</p>

  <p>Previous experience includes about 3 years of experience in dam safety, and civil engineering. Experienced in inspection and comprehensive analysis of power plants, dams, and pertinent structures.</p>

  <h3 class="center">Personal</h3>
  <p>Avid cook; consistently cooks for more than 150 friends a year.  Been told by multiple people I make the best cornbread.  I also enjoy standup paddleboard, rock-climbing, kayaking, and badminton. </p>
</article>
