<article class="align-left">
  <h2>Experience<hr></h2>

  <h3 class="center">Hack Reactor - San Francisco, CA</h3>

  <h4 class="italic underline">Phone Tag November 2013 – December 2013</h4>
  <p>Phone tag is a geolocation-based game transforms their community into an arena.  Gameplay is similar to laser tag and players use their smartphone to track and tag players.  I collaborated in a four-person team to build and deploy the first major version of this open-source, full-stack, mobile app.  My general role was in front-end development and implementation of sockets for real-time communication.  In the near future I plan on working adding more game features and another mode of gameplay.</p>
  <p>This app was built using Backbone.js, Node.js, Express.js, Socket.io, PhoneGap (iOS + Android), Require.js, and Hammer.js.</p>
  <p>Initially, the mobile app had moments of notably slow performance, so I removed jQuery mobile and balanced game logic between client-side and server-side to improve performance.</p>

  <h4 class="italic underline">Barter - November 2013</h4>
  <p>Full-stack bartering web interface that allows users to geospatially search for items available in their community.  Barter uses Facebook authentication and has a built-in messaging and trade request system to streamline the bartering process.  The interface was built on top of Google Maps with utmost consideration for the user’s experience. The first major version has been deployed and beta tested with a small group of users.  In the near future I plan on optimizing the website for mobile.</p>
  <p>Barter was built with a MEAN stack (MongoDB, Express.js, Angular.js, and Node.js) and Passport.js.</p>
  <p>Google Maps does not natively support marker clustering, which made searching the map difficult. I implemented instant search and two forms of marker clustering to improve users usability and search ability.</p>

  <h3 class="center">Federal Energy Regulatory Commission - San Francisco, CA<br>
  Office of Energy Projects, Division of Dam Safety and Inspections</h3>

  <h4 class="italic underline">Civil Engineer - October 2010 – July 2013</h4>
  <ul>
    <li>Oversaw hydroelectric projects including some of the largest facilities in Western U.S. that included analysis and regulation of ~$30 million seismic retrofitting project.</li>
    <li>Responsible for 10 high hazard dams affecting over 400,000 people.</li>
    <li>Commission’s youngest engineer, promoted every year (at 4 times the average speed).  Consistently recognized by the regional engineer for high performance.</li>
    <li>Developed tool in MathCAD to calculate seismic potential of faults that was adopted by all engineers in office.  Streamlined analysis from half a day to minutes.  The tool was used for about 100 dams and saved ~300 man-hours of work.</li>
    <li>Constructed MathCAD tool to automate estimation of earthquake-induced deformations in embankment dams. This simplified calculation time from 2 days to half an hour.</li>
  </ul>

  <h4 class="italic underline">Civil Engineering Technician - June 2009 – September 2009</h4>
  <ul>
    <li>Analyzed Fortran code to automate calculation in MathCAD in order to determine erosive potential of soils in a spillway.  Sped up the computation process from 2 days by hand to an hour with the tool.</li>
    <li>Created a 3D finite-element model of a concrete-arch dam using Adina to analyze structural stability under seismic loading.  Determined that the dam was structurally sound under the specified loading.</li>
  </ul>

  <h2>Education<hr></h2>

  <h4 class="italic underline">Hack Reactor  September 2013 - Present</h4>
  <p>Advanced software engineering immersive</p>


  <h4>University of California, Irvine - June 2010</h4>
  <h4 class="italic underline">Bachelor of Science, Civil Engineering</h4>
  <ul>
    <li>Dean’s Honor List: Fall 2008, Winter 2009, Fall 2009</li>
    <li>Specialized in Structural Engineering</li>
  </ul>

  <h2>Skills<hr></h2>
  <ul>
    <li>Programming Languages: Javascript, CoffeeScript, Ruby</li>
    <li>Front-End Frameworks: Angular.js, Backbone.js</li>
    <li>Back-End Platform: Node.js</li>
    <li>Back-End Framework: Express.js</li>
    <li>Databases: MongoDB, MySQL</li>
    <li>ORM: Mongoose.js, Sequelize.js, ActiveRecord</li>
    <li>Version Control: Git</li>
    <li>Additional Javascript Libraries: jQuery, d3.js, Require.js</li>
    <li>Testing: Mocha, Jasmine</li>
    <li>CSS Preprocessor: Stylus</li>
    <li>HTML5</li>
    <li>CSS3</li>
    <li>OOP</li>
  </ul>

  <h2>Personal<hr></h2>
  <p>Avid cook; consistently cooks for more than 150 friends a year.  Been told by multiple people I make the best cornbread.  I also enjoy standup paddleboard, rock-climbing, kayaking, and badminton.  Additionally, in October 2009, I received my Engineer-In-Training Certification from them California Board of Professional Engineers and Land Surveyors.</p>
</article>
